<div class="container">
  <h1>History</h1>
 
<table>
	      <tr>
		  <th>Id</th>
		  <th>Title</th>
		  <th>Poster</th>
		  <th>Genre</th>
		  <th>Bucket</th>
		  <th>Action</th>
	  <tr>
    <% @versions.where( event: 'destroy').each do |version| %>
		  <%= version.created_at%>

    <% end %>
</div>
</table>

