<%= link_to 'Home', pages_home_path %>
<div class="container">
  <h1>History</h1>
<table>
	      <tr>
		  <th>Id</th>
		  <th>Title</th>
		  <th>Poster</th>
		  <th>Genre</th>
		  <th>Bucket</th>
		  <th>Action</th>
	  <tr>
    <% @versions.where( event: 'destroy').each do |version| %>
		  <% if Rails.env.production? %>
		  	<% my_object=version.object%>
		  <% else %>
		  	<% my_object=PaperTrail.serializer.load(version.object)%>
		  <%end%>
		  <% movie_0=JSON.load(open("http://api.tanktop.tv/api/1/eyJzZXJ2aWNlX2lkIjoxN30:1XKPst:glE97qRYa7ziwUHZN94AIjt5a3U/movie/"+my_object['tt_id'].to_s )) %>
		  <% movie_1=JSON.load(open("http://www.omdbapi.com/?i=&t="+URI.encode(movie_0['films'][0]['title'])))%>

		<tr>
		<td><%=my_object %></td>
		
	    </td>
		</tr>
    <% end %>
</div>
</table>

