<%= link_to 'Home', pages_home_path %>
<div class="container">
  <h1>History</h1>
<table>
	      <tr>
		  <th>Id</th>
		  <th>Title</th>
		  <th>Poster</th>
		  <th>Genre</th>
		  <th>Bucket</th>
		  <th>Action</th>
	  <tr>
    <% @versions.where( event: 'destroy').each do |version| %>
		  <% if Rails.env.production? %>
		  	<% my_object=version.object%>
		  <% else %>
		  	<% my_object=PaperTrail.serializer.load(version.object)%>
		  <%end%>
		  
	    </td>
		</tr>
    <% end %>
</div>
</table>

